.Shop {
  text-align: center;

}

td {
  border: 2px solid rgb(8, 146, 8);


}

.Items {
  margin: auto;
  border-collapse: collapse;
}

.Img {
  width: 200px;
  height: auto;
}


.ButtonDel {
  margin: 0 10px;
}
