.MobileCompany input {
  border-radius: 1px;
}
.MobileCompany table
{
  border-collapse: collapse;
  margin: 20px 0;
}
.MobileCompany td {
  border: 2px solid rgb(8, 146, 8);
  padding: 5px;
  text-align: center;
}

.MobileCompany tr:first-child
{
  font-weight: bold;
}

